<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Account<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                        <li><a href="">Register</a></li>

                    </ul>
                </div>
                <!-- / -->
                <div class="logo-element">

                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-home"></i> <span class="nav-label">For My Home</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-building"></i> <span class="nav-label">For My Business</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-plug"></i> <span class="nav-label">Power Outages</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-bicycle"></i> <span class="nav-label">Community</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Environment</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-bolt"></i> <span class="nav-label">Energy</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-id-card-o"></i> <span class="nav-label">About Us</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-volume-control-phone"></i> <span class="nav-label">Contact Us</span></a>
            </li>
        </ul>

    </div>
</nav>

<!-- <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li>
        </ul>

    </div>
</nav> -->
